@attribute [ExposePilet("colors")]

<Extension Name="logo-blazor"></Extension>
<h3>Colors</h3>

<div style="display: flex; gap: 1rem; margin-top:1rem;">
    <div @onmouseover="ChangeColor" style="width: 200px; height: 100px; background: @color; color: white">mouse over me</div>
    <div @onmouseout="ChangeColor" style="width: 200px; height: 100px; background: @color; color: white">mouseleave me</div>
    <div @onwheel="ChangeColor" style="width: 200px; height: 100px; background: @color; color: white">scroll me</div>
    <div @ondblclick="ChangeColor" style="width: 200px; height: 100px; background: @color; color: white">dubbleclick me</div>
    <div @ondragstart="ChangeColor" style="width: 200px; height: 100px; background: @color; color: white">drag me</div>
    <div @onmouseup="HandleRightClick" oncontextmenu="return false" style="width: 200px; height: 100px; background: @color; color: white">rightclick me</div>
    <div @onmouseup="HandleMiddleMouse" style="width: 200px; height: 100px; background: @color; color: white">middlemouseclick me</div>
</div>

@code {
    string color = "rgb(52, 73, 94)";
    string[] colors = { "rgb(26, 188, 156)", "rgb(46, 204, 113)", "rgb(52, 152, 219)", "rgb(155, 89, 182)", "rgb(52, 73, 94)", "rgb(22, 160, 133)", "rgb(39, 174, 96)", "rgb(41, 128, 185)", "rgb(142, 68, 173)", "rgb(44, 62, 80)", "rgb(241, 196, 15)", "rgb(230, 126, 34)", "rgb(231, 76, 60)", "rgb(236, 240, 241)", "rgb(149, 165, 166)", "rgb(243, 156, 18)", "rgb(211, 84, 0)", "rgb(192, 57, 43)", "rgb(189, 195, 199)", "rgb(127, 140, 141)" };
    Random r = new Random();

    void ChangeColor()
    {
        var i = r.Next(0, colors.Length);
        color = colors[i];
    }

    void HandleRightClick(MouseEventArgs args)
    {
        if (args.Button == 2) ChangeColor();
    }
    
    void HandleMiddleMouse(MouseEventArgs args)
    {
        if (args.Button == 1) ChangeColor();
    }
}