@attribute [ExposePilet("counter")]
<Extension Name="logo-blazor"></Extension>
<h1>Counter from Pilet</h1>

<Anchor To="/about">Read more about this</Anchor>
<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }
}
