@attribute [ExposePilet("jokes")]
@inject HttpClient client

<Extension Name="logo-blazor"></Extension>
<h3>Jokes</h3>

<p>This component demonstrates fetching data from an API.</p>
<button @onclick="Fetch">FETCH</button>

@if (joke == null){return;}

<blockquote>@joke</blockquote>


@code {
    string joke;

    async Task Fetch()
    {
        var response = await client.GetAsync("/joke/Any?format=txt&type=single");
        if (response.IsSuccessStatusCode) joke = await response.Content.ReadAsStringAsync();
    }
}