@attribute [ExposePilet("profile")]
@using AutoBogus

<Extension Name="logo-blazor"></Extension>
<h3>Profile</h3>
<small>This page uses the NuGet package <code>Bogus</code></small>

<button @onclick="Generate">Generate person</button>

@if (person is null){ return; }

<p>@person.FirstName</p>
<p>@person.LastName</p>
<p>@person.Email</p>



@code {
    Person person;
    PersonFaker faker = new PersonFaker();

    void Generate()
    {
        person = faker.Generate();
    }

    class Person
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string Email { get; set; }
    }
    
    class PersonFaker : AutoFaker<Person>
    {
        public PersonFaker()
        {
            RuleFor(p => p.FirstName, f => f.Person.FirstName);
            RuleFor(p => p.LastName, f => f.Person.LastName);
            RuleFor(p => p.Email, f => f.Person.Email);
        }
    }
    
}