@page "/counter/{Start?:int}"
@attribute [ExposePilet("counter-blazor")]

<h3>Counter</h3>
<p>Current count: @currentCount</p>

<button @onclick="IncrementCount">Click me</button>


@code {
    [Parameter]
    public int Start {get; set;}

    int currentCount;

    protected override void OnInitialized()
    {
        currentCount = Start;
    }

    void IncrementCount()
    {
        currentCount++;
    }
}
