@page "/numbers"

<Extension Name="logo-blazor"></Extension>
<h1>Numbers</h1>
<a href="about">Read more about this</a>

<div class="numbers-wrapper">
    <Extension Name="counter-blazor"></Extension>
    <Extension Name="rng-blazor"></Extension>
</div>
