.logo-blazor {
  border: 1px dashed lightgray;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem;
  color: gray;
  margin-bottom: 1rem;
}

.numbers-wrapper {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;

  & [data-blazor-pilet-root] {
    border: 1px solid black;
    padding: 1rem;
  }
}
